{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-8´">
        <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
        </h1>    
    <!-- Columm end -->
    </div>
</div>
           

<!-- Blog Posts -->
<div class="row row-cols-1">  
    <!-- First card -->
    <div class="col mb-4">
        <div class="card mx-auto">
            <img class="card-img-top" src="http://placehold.it/363x180" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ first_post.title }}</h5>
                <small class="text-muted">By <a href="#"><strong> {{ first_post.author.first_name }} </strong></a> |  {{ first_post.post_date }}  | 58 comments</small>
                <p class="card-text">{{ first_post.snippet }}</p>
                <a href="{% url 'article-detail' first_post.pk %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        <!-- First card end -->
        </div>
    </div>
 <!-- Row end -->
</div>  

<!-- Other cards -->
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">

    {% for post in posts_list %}
    <div class="col mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/363x180" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <small class="text-muted">By <a href="#"><strong> {{ post.author.first_name }} </strong></a> |  {{ post.post_date }}  | 58 comments</small>
                    <p class="card-text">{{ post.snippet }}</p>
                    <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
        </div>
    {% endfor%}
<!-- Row end -->
</div> 
       

{% endblock %}